{% extends 'base.html' %}

{% block signinactive %}active{% endblock signinactive %}
{% block body %}
  <h2 class="text-center my-0 label custom-label" style = "padding-top : 3.5rem;"> Please Login </h2>
   
  <form class="mx-5" action="\signin" method="post">
      {% csrf_token %}

      <div class="form-group active">
        <label for="Name" class="label custom-label">Username</label>
        <input type="name" class="form-control" id="username" name="username" aria-describedby="emailHelp" placeholder="Enter username">
        
      </div>
      
      <div class="form-group">
        <label class="label custom-label" for="Password">Password</label>
        <input type="password" class="form-control" id="pass1" name="pass1" aria-describedby="emailHelp" placeholder="Your number">
        <small id="emailHelp" class="form-text text-muted">We'll never share your password with anyone else.</small>
      </div>
      
      
      
      <button type="submit" class="btn btn-primary" >Login</button>
    </form>
    
    {% if sent %}
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.16.6/dist/sweetalert2.all.min.js"></script>
        <script>
          Swal.fire({
            icon: 'info',
            title: 'Confirm Please!',
            text: 'Check your email and activate your account..',
          });
        </script>
    {% endif %}

    {% if success %}
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.16.6/dist/sweetalert2.all.min.js"></script>
    <script>
      Swal.fire({
        icon: 'error',
        title: 'Oops! Login Failed',
        text: 'Please enter your correct details..',
      });
    </script>
    {% endif %}
    
    {% if log %}
      <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.16.6/dist/sweetalert2.all.min.js"></script>
      <script>
        Swal.fire({
          icon: 'info',
          title: 'Logged Out',
          text: 'You have been logged out successfully..',
        });
      </script>
      {% endif %}
  {% endblock body %}
      
      <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    