{% extends 'base.html' %}
{% block templateactive %}active activ{% endblock templateactive %}
{% block body %}


<h2 class="text-center my-0" style = "padding-top : 1rem;font-size:20px;">Disjoint Set Union (DSU)</h2>

    <p style = "margin-left:10px;">
        <div class = "phoneme">
        <br>
        You can take the DSU structure used by me in the following link  <a href = "https://codeforces.com/problemset/submission/1624/211759207" target = "_blank">Problem Solution, </a> also you can try to solve the problem and see how I simply called DSU dsu(n) of size n and 
        to unite I used <strong>dsu.unite(a , b)</strong> , to find the parent use <strong>dsu.find(a)</strong> , to find the size of a component use <strong>dsu.siz(a)</strong>.
        <br>
        Link for example code <a href = "https://codebeautify.org/alleditor/y230bf582" target= "_blank">DSU</a>
        </div>
    </p>

<hr style = "background-color: #000; width:98%;">

 <h2 class="text-center my-0" style = "padding-top : 0.2rem;font-size:20px;">Segment Tree</h2>
 
     <p style = "margin-left:10px;">
        <div class = "phoneme">
         <br>
         There are two codes for segment tree one is written by tourist and other is standard code. 
         <br>
         Link for the standard code <a href = "https://cp-algorithms.com/data_structures/segment_tree.html" target = "_blank">Standard Segtree </a>
         <br>
         Link for tourist segtree <a href = "https://codebeautify.org/alleditor/y233eb31f" target = "_blank"> Segtree </a>   
        </div>
     </p>
  
     <hr style = "background-color: #000; width:98%;">

     <h2 class="text-center my-0" style = "padding-top : 0.2rem;font-size:20px;">Fenwick Tree</h2>
     
         <p style = "margin-left:10px;">
            <div class = "phoneme">
                <br>
                    Link for the  <a href = "https://github.com/sangam123456789/Code/blob/main/Fenwick%20tree.cpp" target = "_blank"> Code with example. </a>
            </div>
        </p>     
<hr style = "background-color: #000; width:98%;">

<h2 class="text-center my-0" style = "padding-top : 0.2rem;font-size:20px;">Sparse Table</h2>

    <p style = "margin-left:10px;">
        <div class = "phoneme" >
        <br>
        Link for the  <a href = "https://codebeautify.org/alleditor/y2391a668" target = "_blank"> Code with example. </a>
        
        </div>
    </p>

<hr style = "background-color: #000; width:98%">

 <h2 class="text-center my-0" style = "padding-top : 0.2rem;font-size:20px;">Prime Finder</h2>
 
     <p style = "margin-left:10px;">
        <div class = "phoneme" >
         <br>
         The code uses <a href = "https://www.geeksforgeeks.org/sieve-of-eratosthenes/" target = "_blank">sieve of eratosthenes.</a> 
         <br>
         Link for the  <a href = "https://codebeautify.org/alleditor/y2333f07b" target = "_blank"> Code with example. </a>
         
        </div>
     </p>
  </div>
<hr style = "background-color: #000; width:98%">

<h2 class="text-center my-0" style = "padding-top : 0.2rem;font-size:20px;">Lowest Common Ancestor</h2>

    <p style = "margin-left:10px;">
        <div class = "phoneme" >
        <br>
        Link for the  <a href = "https://codebeautify.org/alleditor/y2350e5e7" target = "_blank"> Code with example. </a>
        
        </div>
    </p>

<hr style = "background-color: #000; width:98%">

<h2 class="text-center my-0" style = "padding-top : 0.2rem;font-size:20px;">Dijkstra Shortest Path</h2>

    <p style = "margin-left:10px;">
        <div class = "phoneme">
        <br>
        Link for the  <a href = "https://codebeautify.org/alleditor/y23dfce6c" target = "_blank"> Code with example. </a>
        
        </div> 
    </p>

<hr style = "background-color: #000; width:98%">

<h2 class="text-center my-0" style = "padding-top : 0.2rem;font-size:20px;">Prims MST</h2>

    <p style = "margin-left:10px;">
        <div class = "phoneme">
        <br>
        Link for the  <a href = "https://codebeautify.org/alleditor/y23d945f6" target = "_blank"> Code with example. </a>
        
        </div>    
    </p>
<p style = "margin-top : 60px;">
<hr style = "background-color: #000; width:98%">
</p>


{% endblock body%}





